body {
    background-color: lightblue;
}

p {
    color: gray;
}

h2 {
    text-align: center;
}

#nombre-principal {
    color: darkblue;
    padding: 20px;
    border: 2px solid darkblue;
    margin: 10px;
}

#descripcion-perfil {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px dashed gray;
    margin: 5px;
}

.tarjeta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#btn-saludo {
    background-color: #111;
    color: #3d3;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: solid #2a2 2px;
}