body {
    background-color: lightblue;
}

p {
    color: gray;
}

h2 {
    text-align: center;
}

#nombre-principal {
    color: darkblue;
    padding: 20px;
    border: 2px solid darkblue;
    margin: 10px;
}

.descripcion {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px dashed gray;
    margin: 5px;
}